body{
    background-color: lightgray;
}
.global-header{
    list-style-type: none;
}
.global-header-logo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    display: inline;
}
.header {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 20px 0 20px 20px;
}
.logo {
    padding: 5px;
    display: inline-block;
}
.wordmark {
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}
.menu-label {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
}